<body>
  <h1 class="title">Exclusive Snake Game</h1>

  <form
    id="user_form"
    class="user_form"
    [formGroup]="introForm"
    (submit)="submit(introForm)"
  >
    <label>Player name:</label>
    <br />
    <input type="text" formControlName="name" name="name" />
    <br />
    <label>Authetiction code:</label>
    <br />
    <input type="password" formControlName="code" name="code" />
  </form>
  <input
    form="user_form"
    class="button"
    [disabled]="!introForm.valid"
    type="submit"
    value="start game"
  />
</body>
