.body {
  text-align: center;
}

.button {
  margin: 20px auto;
  text-align: center;
}

.title {
  text-align: center;
}

.user_form {
  margin: auto;
  width: 200px;
  border: 3px solid rgb(182, 16, 168);
  padding: 10px;
  text-align: center;
}
