.game {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.controls {
  text-align: center;
}

ngx-snake {
  display: inline-block;
}

:host {
  min-height: 500px;
  display: inline-block;
  width: 100%;
  text-align: center;

  button {
    border: 3px, blue;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.game_body {
  display: flex;
}
